* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	color: #333;
	background-color: #f8f8f8;
	line-height: 1.5;
	font-family: Helvetica, sans-serif;
	
}
ul {
	list-style: none;
}

.clearfix {
    zoom: 1;
 }

.clearfix:after {
clear: both;
content: "";
display: block;
height: 0;
line-height: 0;
visibility: hidden;
}

.frame {
	background-color: #d5d5d5;
	width: 100%;
}

.frame .header{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}

.frame .header .title {
	display: inline-block;
}
.frame .header img {
	display: inline-block;
	width: 70px;
	margin: 0 10px;
}

.frame .header .ptscmc {
	float: right;
}

.frame .header .client {
	float:left;
	width: 120px;
}

.frame .operation {
	width: 100%;
}

.frame .operation .content {
	
	position: absolute;
	float: left;
	margin: 5px;
	margin-left: 50px;
	display: block;	
	width: 95%;
	z-index: 0;
}
.frame .operation .content iframe{
	width: 100%;
	height: 820px;
	z-index: -1;
}

.frame .operation .menu {
	position: absolute;
	width: 45px;
	height: 820px;
	background-color: #3e3e3e;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	transition: 0.3s all;
	z-index: 98;
	box-shadow: 2px 2px 5px #666;

}

.frame .operation .menu:hover {
	width: 220px;
}

.frame .operation .menu ul {
	margin-top: 40px;
	z-index: 98;
}


.frame .operation .menu ul li {
	height: 40px;	
	margin: 2px 0;
	background-color: #3e3e3e;
	color:#eee;
	cursor: pointer;
	border:none;
	text-align: left;
	padding: 2px auto;
	line-height: 3;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.frame .operation .menu ul li i {
	margin-left: 7px;
	font-size: 20px;
}

.frame .operation .menu ul li span {
	margin-left: 15px;
	font-size: 12px;
}

.frame .operation .menu ul li:hover {
	font-weight: bold;
	background-color: #e1e1e1;
	color: #333;
}

#show-hide {
	margin: 5px 7px;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-style: none;
	box-shadow: none;
	cursor: pointer;	
}





footer {
	position: fixed;
	background-color: #2e2e2e;
	color:#ecf0f1 ;
	font-size: 12px;
	bottom: 0px;
	width: 100%;
	height: 25px;
	text-align: center;
	line-height: 1.5;
	z-index: 99;
}

@media only screen and (max-width: 1280px)
{
	
}

@media only screen and (max-width: 640px)
{
	
}